.main-nav{
    background-color: #0387C2;
    height:10vh;
}
.object-fit-contain{
  object-fit: contain;
}
h3{
  font-family: "Poppins", Sans-serif !important;
    font-weight: 500 !important;
    color:white;
}
.btn-post{
  background-color: #12DDB6 !important;
  color:white !important;
}
.btn-post:hover{
  background-color: white !important;
  color:#12DDB6 !important;
  border:1px solid #12DDB6 !important;
}
.customStyles{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  width:50%;
  border:1px solid #12DDB6;
  margin: 0 auto;
  background-color: white;
  padding:10px;
}